
{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
Section 6
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 30px;
        }
    </style>

{% endblock %}

{% block content %}

    <h4>
    Which academic division does your major fall under?
    </h4>

    {% formfield player.q_declaredstudytrack_AH %}
    {% formfield player.q_declaredstudytrack_EG %}
    {% formfield player.q_declaredstudytrack_MD %}
    {% formfield player.q_declaredstudytrack_SC %}
    {% formfield player.q_declaredstudytrack_SS %}


{% next_button %}   <br>   <br>   <br>

{% endblock %}
