
{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
Section 6
{% endblock %}

{% block content %}

    <h4>
    Which academic division does your major fall under? If you have declared two majors, please tick both of them.
    </h4>

    <p><strong><input id="id_q_declaredstudytrack_AH" maxlength="10000" name="q_declaredstudytrack_AH" type="checkbox"> Arts and Humanities</strong></p>
    <p><strong><input id="id_q_declaredstudytrack_EG" maxlength="10000" name="q_declaredstudytrack_EG" type="checkbox"> Engineering</strong></p>
    <p><strong><input id="id_q_declaredstudytrack_MD" maxlength="10000" name="q_declaredstudytrack_MD" type="checkbox"> Multidisciplinary (Arab Crossroads or Interactive Media)</strong></p>
    <p><strong><input id="id_q_declaredstudytrack_SC" maxlength="10000" name="q_declaredstudytrack_SC" type="checkbox"> Science</strong></p>
    <p><strong><input id="id_q_declaredstudytrack_SS" maxlength="10000" name="q_declaredstudytrack_SS" type="checkbox"> Social Science</strong></p>


{% next_button %}   <br>   <br>   <br>

{% endblock %}
