
{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    Section 6
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 30px;
        }
    </style>

{% endblock %}

{% block content %}


    <h4>What is your expected study track? Which of the academic divisions does your expectad major fall under? If you are unsure, mark the division you are most interested in. If you plan to double major, tick both.</h4>

    {% formfield player.q_expectedstudytrack_AH %}
    {% formfield player.q_expectedstudytrack_EG %}
    {% formfield player.q_expectedstudytrack_MD %}
    {% formfield player.q_expectedstudytrack_SC %}
    {% formfield player.q_expectedstudytrack_SS %}

 
{% next_button %}   <br>   <br>   <br>

{% endblock %}
