
{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    Section 6
{% endblock %}


{% block content %}


    <h4>
    Which academic division does your expected major fall under? If you plan to double major, please tick both majors.
    </h4>

    <p><strong><input id="id_q_expectedstudytrack_AH" maxlength="10000" name="q_expectedstudytrack_AH" type="checkbox"> Arts and Humanities</strong></p>
    <p><strong><input id="id_q_expectedstudytrack_EG" maxlength="10000" name="q_expectedstudytrack_EG " type="checkbox"> Engineering</strong></p>
    <p><strong><input id="id_q_expectedstudytrack_MD" maxlength="10000" name="q_expectedstudytrack_MD" type="checkbox"> Multidisciplinary (Arab Crossroads or Interactive Media)</strong></p>
    <p><strong><input id="id_q_expectedstudytrack_SC" maxlength="10000" name="q_expectedstudytrack_SC" type="checkbox"> Science</strong></p>
    <p><strong><input id="id_q_expectedstudytrack_SS" maxlength="10000" name="q_expectedstudytrack_SS" type="checkbox"> Social Science</strong></p>

 
{% next_button %}   <br>   <br>   <br>

{% endblock %}
