
{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    Section 4
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 30px;
        }
    </style>

{% endblock %}

{% block content %}


    <h4>
What is the highest level of mathematics you have taken thus far?
    </h4>

{% formfield player.q_mathlevel %}


{% formfield player.q_GPA_highschool width='50%' %} out of {% formfield player.q_GPA_highschool_max width='50%' %}

 
{% next_button %}   <br>   <br>   <br>

{% endblock %}
