
{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    Section 4
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 30px;
        }
    </style>

{% endblock %}

{% block content %}


    <h4>
What is the highest level of mathematics you have taken thus far?
    </h4>

{% formfield player.q_mathlevel %}

<h4>What was your final GPA in secondary school or high school?</h4>

{#    two spaces for input: ... out of ... #}
 
{% next_button %}   <br>   <br>   <br>

{% endblock %}
