{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    Section 3
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 30px;
        }
    </style>

{% endblock %}

{% block content %}
    <h4>How difficult is it for you to get a passing grade in mathematics?
        <br>Please answer on a scale from 1 to 10 where 1 means very easy and 10 means very difficult.
    </h4>

<style type="text/css">
.table .tg-s6z2{text-align:center;vertical-align:top;width:8%;}
</style>
<table class="table">
    <tr>
        <th> </th><th class="tg-s6z2">1<br>very easy</th><th class="tg-s6z2">2</th><th class="tg-s6z2">3</th><th class="tg-s6z2">4</th><th class="tg-s6z2">5</th><th class="tg-s6z2">6</th><th class="tg-s6z2">7<br></th><th class="tg-s6z2">8<br></th>
<th class="tg-s6z2">9<br></th> <th class="tg-s6z2">10<br>very difficult</th>   </tr>
    {% for field in form %}
    <tr>
        <td>{{ field.label }}  </td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="1" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="2" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="3" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="4" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="5" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="6" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="7" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="8" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="9" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="10" required></td>
    </tr>
    {% endfor %}
</table>

{% next_button %}   <br>   <br>   <br>

{% endblock %}