{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
Section 1
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 30px;
        }
    </style>

{% endblock %}

{% block content %}


    <h4>
    What do you think was your rank within your Task 2 group in terms of sums solved correctly?
        Please choose a number from 1 to 4, where 1 means you gave the most correct answers and 4 means you gave the least correct answers.
    </h4>
<br>
    <br>
{% formfield player.q_rank %}



{% next_button %}   <br>   <br>   <br>

{% endblock %}