{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
Section 1
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 30px;
        }
    </style>

{% endblock %}

{% block content %}


    <h4>
    What do you think was your rank within your Task 2 group in terms of sums solved correctly?
        <br>Please choose a number from 1 (meaning you gave the most correct answers in your group) to 4 (meaning you gave the least correct answers in your group).
    <br>If your answer is right, you will earn additional 10 AED.
    </h4>

{% formfield player.q_rank %}



{% next_button %}   <br>   <br>   <br>

{% endblock %}