
{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    Section 12
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 70px;
        }
    </style>

{% endblock %}

{% block content %}

    <h4>
        From a scale of 1 to 4 (1 = fully disagree; 2 = somewhat disagree; 3 = somewhat agree; 4 = fully agree),
        tell us how much you agree with the following statements:
    </h4>

    <style type="text/css">
    .table .tg-s6z2{text-align:center;vertical-align:bottom;width:5%;}
    .table .tg-s6z3{text-align:center;vertical-align:middle;width:5%;}
    </style>
    <div class="table-responsive">
            <table class="table">
                <tr>
                    <th></th>
                    <th class="tg-s6z2">Fully disagree<br>1</th>
                    <th class="tg-s6z2">Somewhat disagree<br>2</th>
                    <th class="tg-s6z2">Somewhat agree<br>3</th>
                    <th class="tg-s6z2">Fully agree<br>4</th>
                </tr>
                {% for field in form %}
                <tr>
                    <td>{{ field.label }}  </td>
                    <td class="tg-s6z3"><input type="radio" name="{{field.html_name }}" value="1" required></td>
                    <td class="tg-s6z3"><input type="radio" name="{{field.html_name }}" value="2" required></td>
                    <td class="tg-s6z3"><input type="radio" name="{{field.html_name }}" value="3" required></td>
                    <td class="tg-s6z3"><input type="radio" name="{{field.html_name }}" value="4" required></td>
                </tr>
                {% endfor %}
            </table>             
         </div>
 
    {% next_button %}<br><br><br>

{% endblock %}