{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    Section 11
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 30px;
        }
    </style>

{% endblock %}

{% block content %}
    <h4>Please, rank your family’s relative wealth based on your home country’s standards</h4>

<style type="text/css">
.table .tg-s6z2{text-align:center;vertical-align:top;width:8%;}
</style>
<table class="table">
    <tr>
        <th> </th><th class="tg-s6z2">Very<br>poor</th><th class="tg-s6z2">Poor</th><th class="tg-s6z2">Rather<br>poor</th><th class="tg-s6z2">Rather<br>wealthy</th><th class="tg-s6z2">Wealthy</th><th class="tg-s6z2">Very<br>wealthy</th></tr>
    {% for field in form %}
    <tr>
        <td>{{ field.label }}  </td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="1" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="2" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="3" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="4" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="5" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="6" required></td>
    </tr>
    {% endfor %}
</table>


{% next_button %}   <br>   <br>   <br>

{% endblock %}