{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
Review of Task Performance and Final Result
{% endblock %}

{% block styles %}
    <style type="text/css">
        .radio-inline {
            margin-right: 70px;
        }
    </style>
{% endblock %}

{% block content %}




    <div class="panel panel-success">

        <div class="panel-heading">
            <h3>Player Statistics for Task 1 </h3>
            <h4><b><u>Your score in task 1: {{ task_1_score }} </u></b></h4>

        </div>

        <table class="table">           
            <tr>
                <th>Summation #</th>
                <th>Integers</th>
                <th>Solution</th>
                <th>Your Entry</th>
                <th>Correct</th>
                <th>Score</th>
            </tr>
            {% for row in t1_results_table %}
            <tr>
                <td>{{ row.round_number }}</td>
                <td>{{ row.int1 }} + {{ row.int2 }}</td>
                <td>{{ row.Ints_sum }}</td>
                <td>{{ row.player_sum }}</td>
                <td>{{ row.is_correct }}</td>
                <td>{{ row.payoff }}</td>
            </tr>
            {% endfor %}

        </table>

    </div>

{##}
{#    <div class="panel panel-success">#}
{##}
{#        <div class="panel-heading">#}
{#            <h3> Player Statistics for Task 2 </h3>#}
{#            #}
{##}
{#            <h4>You accumulated {{ task_2_score }}</h4>#}
{#            <h4>Other player's scores in your group: {{op_scores}}</h4>#}
{#            <h4>Top score among other players: {{ op_top_score }}</h4>#}
{#            <h4>{{ t2_result_print }}</h4>#}
{#            <h4><b><u>Your final score for task 2 is: {{ task_2_final_score }}</b></u></h4>#}
{##}
{#        </div>#}
{##}
{#        <table class="table">           #}
{#            <tr>#}
{#                <th>Summation #</th>#}
{#                <th>Intergers</th>#}
{#                <th>Solution</th>#}
{#                <th>Your Entry</th>#}
{#                <th>Correct?</th>#}
{#                <th>Score</th>#}
{#            </tr>#}
{#            {% for row in t2_results_table %}#}
{#            <tr>#}
{#                <td>{{ row.round_number }}</td>#}
{#                <td>{{ row.int1 }} + {{ row.int2 }}</td>#}
{#                <td>{{ row.Ints_sum }}</td>#}
{#                <td>{{ row.player_sum }}</td>#}
{#                <td>{{ row.is_correct }}</td>#}
{#                <td>{{ row.payoff }}</td>#}
{#            </tr>#}
{#            {% endfor %}#}
{##}
{#        </table>#}
{##}
{#    </div>#}
{##}
{#    <div class="panel panel-success">#}
{##}
{#        <div class="panel-heading">#}
{#            <h3>Player Statistics for Task 3</h3>#}
{#            <hr>#}
{#            <h4>You accumulated {{ task_3_score }}</h4>#}
{#            <hr>#}
{#            <h4>You chose the <em>{{ payment_method_selection }}</em> method.</h4>#}
{#            <h4><b><u>Your final score for task 3 is: {{ task_3_final_score }}</b></u></h4>#}
{#            <hr>#}
{#            <h4>The <i><b>individual scoring</i></b> method produces {{task_3_score}}.</h4>#}
{#            <hr>#}
{#            <h4>The <i><b>compared scoring</i></b> is calculated as follows:</h4>#}
{#            <h4>Other player's scores in your group: {{ op_scores }}</h4>#}
{#            <h4>Top score among other players: {{ op_top_score }}</h4>#}
{#            <h4>{{ t3_result_print }}</h4>#}
{#            <h4>With the top score, you get 4 * {{ task_3_score }} = {{ task_3_score_4X }}.#}
{#            <hr>#}
{##}
{##}
{#        </div>#}
{##}
{#        <table class="table">           #}
{#            <tr>#}
{#                <th>Summation #</th>#}
{#                <th>Intergers</th>#}
{#                <th>Solution</th>#}
{#                <th>Your Entry</th>#}
{#                <th>Correct?</th>#}
{#                <th>Score</th>#}
{#            </tr>#}
{#            {% for row in t3_results_table %}#}
{#            <tr>#}
{#                <td>{{ row.round_number }}</td>#}
{#                <td>{{ row.int1 }} + {{ row.int2 }}</td>#}
{#                <td>{{ row.Ints_sum }}</td>#}
{#                <td>{{ row.player_sum }}</td>#}
{#                <td>{{ row.is_correct }}</td>#}
{#                <td>{{ row.payoff }}</td>#}
{#            </tr>#}
{#            {% endfor %}#}
{##}
{#        </table>#}
{##}
{#    </div>#}
{##}
{##}
    <div class="panel panel-success">

        <div class="panel-heading">
            <h3>Final Score and Allowances</h3>
            <hr>
            <h4>We will now select at random one of the three tasks to pay you as allowance.</h4>
            <ul>
                <il><h4>Your score in task 1 is: {{ task_1_score }} </h4></il>
{#                <il><h4>Your final score for task 2 is: {{ task_2_final_score }}</h4></il>#}
{#                <il><h4>Your final score for task 3 is: {{ task_3_final_score }}</h4></il>#}
            </ul>
            <h4>Points are converted into AED at a rate of 1 point = 4 AED</h4>
            <hr>
            <h4>The program has randomly selected {{ task_1_payment }}. </h4>
            <h4>Your allowance for this task is {{final_task_earnings}} AED. </h4>
            <hr>
            <h4>We add to your allowance a showup-allowance of {{ showup_Fee }} AED.</h4>
            <h4><b><u>Your final allowance is {{ final_earnings }} AED.</u></b></h4>
        </div>
    </div>

{% next_button %}   <br>   <br>   <br>

{% endblock %}
