
{% extends "global/BaseMotherhood.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Task 2 Instructions
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}



<div class="instructions well well-lg">
  


    <p><br>
      In this task, as in Task 1, you will see a randomly generated 8x8 matrix with 0s and 1s. Your task is to count how many times "1" appears in the matrix.
      Your final score will depend on your performance relative to that of a group of <b>other participants</b> in this experiment under similar circumstances. Each group consists of four people.
      The three other members of your group will be randomly selected.  
      You will never know the names of the other people in your group and they will never know your name or actions.
    </p>
     <p>
           After {{ player.task_timer }} seconds, the task will stop and you will receive a summary of the results.<br>
    </p>

    <p>
       There are two possible outcomes if Task 2 is randomly selected to determine your allowance.
       If you are the individual who correctly solves the largest number of additions in your group, you will receive <b>4 points for each correct addition</b>. 
        If you are not this individual, you will receive <b>0 points for this task</b>.
    </p>
    <p>
       For example, if you correctly completed 10 additions, and the three other members of your group completed 7, 8, and 9, then you will earn 40 points (4 * 10) if Task 2 is selected at the end of the experiment. That is, 200 AED.
       
      In the event that more than one individual perform the same number of correct additions, and they are tied for the first place, a single player will be randomly chosen as the winner. 
   </p>
       
    <p>
    You will not be informed about whether or not you won or lost in this task until later in the experiment. <br>
    </p>
    <p>
    Please raise your hand and alert an experimenter if you have any questions.<br>
    </p>

    <p>
           Otherwise, if you are ready, please click "Next" below to start the time and this {{ player.task_timer}} second task.<br>
    </p>

</div>

      {% next_button %}<br><br><br>

{% endblock %}