
{% extends "global/BaseMotherhood.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}
{% load shuffle %}

{% block title %}
    Section 5
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 30px;
        }
    </style>

{% endblock %}

{% block content %}


    <h4>
        If you graduated this month, what would you <i><b>most likely do</i></b> in the next year? 
        <br>From a scale of 1 to 7  (1 least likely, 7 most likely), please tell us what you would most likely do.
    </h4>

<style type="text/css">
.table .tg-s6z2{text-align:center;vertical-align:top;width:8%;}
</style>
<table class="table">
    <tr>
        <th> </th><th class="tg-s6z2">1<br>least</th><th class="tg-s6z2">2</th><th class="tg-s6z2">3</th><th class="tg-s6z2">4</th><th class="tg-s6z2">5</th><th class="tg-s6z2">6</th><th class="tg-s6z2">7<br>most</th>
    </tr>
    {% for field in form|shuffle %}
    <tr>
        <td>{{ field.label }}  </td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="1" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="2" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="3" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="4" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="5" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="6" required></td>
        <td class="tg-s6z2"><input type="radio" name="{{ field.html_name }}" value="7" required></td>
    </tr>
    {% endfor %}
</table>


 
{% next_button %}   <br>   <br>   <br>

{% endblock %}
