
{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}
{% load shuffle %}

{% block title %}
    Section 13
{% endblock %}

{% block styles %}

    <style type="text/css">
        .radio-inline {
            margin-right: 70px;
        }
    </style>

{% endblock %}

{% block content %}

    <h4>
        From a scale of 1 to 4 (1 = completely disagree; 4 = completely agree), <br>
        tell us how much you agree with the following statements:
    </h4>

    <style type="text/css">
    .table .tg-s6z2{text-align:center;vertical-align:bottom;width:5%;}
    .table .tg-s6z3{text-align:center;vertical-align:middle;width:5%;}
    </style>
    <div class="table-responsive">
            <table class="table">
                <tr>
                    <th> </th>
                    <th class="tg-s6z2">disagree<br>1</th>
                    <th class="tg-s6z2">2</th>
                    <th class="tg-s6z2">3</th>
                    <th class="tg-s6z2">agree<br>4</th>
                </tr>
                {% for field in form|shuffle %}
                <tr>
                    <td>{{ field.label }}  </td>
                    <td class="tg-s6z3"><input type="radio" name="{{field.html_name }}" value="1" required></td>
                    <td class="tg-s6z3"><input type="radio" name="{{field.html_name }}" value="2" required></td>
                    <td class="tg-s6z3"><input type="radio" name="{{field.html_name }}" value="3" required></td>
                    <td class="tg-s6z3"><input type="radio" name="{{field.html_name }}" value="4" required></td>
                </tr>
                {% endfor %}
            </table>             
         </div>
 
    {% next_button %}<br><br><br>

{% endblock %}