{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">

    </h2>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>
    <p>
        You are about to begin Task 1.
    </p>
    <p>
        In this task, you will see a randomly generated 8x8 matrix with 0s and 1s. Your task is to count how many times "1" appears in the matrix.
    </p>
    <p>
      Once you have entered your summation, click the <b>Next</b> button or press the <b>Enter</b> key, and a new matrix will be generated.
    </p>
    <p>
      This part will last {{ player.task_timer}} seconds.
    </p>
    <p>
        You will get <b>1 point for each correct answer</b>. Your score will not decrease if you provide an incorrect answer. Your answers only affect your score and do not affect the score of other participants.
    </p>

        <p><br></p>
     <p>
           After {{ player.task_timer}} seconds, the task will stop and you will receive a summary of the results.<br>
    </p>
    <p>
           Please raise your hand and alert an experimenter if you have any questions.<br>
    </p>
    <p>
           Otherwise, if you are ready, please click "Next" below to start the time and this {{ player.task_timer}} second task.<br>
    </p>



</div>

      {% next_button %}<br><br><br>





{% endblock %}
